.leftsidebarr{
    position: fixed;
    left: 0;
    bottom: 0;
    // display: flex;
    // flex: 1;
    // width: 270px;
    height: calc(100vh - 60px);
    background-color: #f4ecfb;
    box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.1);
    // previous bg color: #f4ecfb
    .insidecont{
        overflow-y: auto;
    }
    .li{
        border-radius: 5px;

        .coloredIcon{
            filter: brightness(0) saturate(100%) invert(28%) sepia(86%) saturate(4466%) hue-rotate(263deg) brightness(93%) contrast(96%);        
        }
    }
    
    .coloredIcon{
        filter: brightness(0) saturate(100%) invert(28%) sepia(86%) saturate(4466%) hue-rotate(263deg) brightness(93%) contrast(96%);        
    }
}


