@import "../../responsive.scss";

.profilePage{
    display: flex;
    height: calc(100vh - 100px);

    @include md{
        flex-direction: column;
    }

    .details{
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 50px;
        flex: 3;

        @include md{
            flex: none;
            height: max-content;
            max-height: calc(90vh - 100px);
        }

        .wrapper{
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-weight: 400;
                }

                button{
                    padding: 12px 20px;
                    background-color: #7209cb;
                    color: white;
                    border-radius: 12px;
                    cursor: pointer;
                    border: none;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    display: flex;
                }
            }

            .info{
                display: flex;
                // flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                gap: 20px;

                @include sm{
                    flex-direction: column;
                }

                .imgPro{
                    padding: 4px;
                    border: 4px solid #7209cb;
                    border-radius: 50%;
                    display: flex;
                }

                .infoText{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }

                span{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                }

                img{
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include sm{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
        }
    }
    
    .chatContainer{
        flex: 2;
        background-color: #7009cb14;
        height: 100%;
        
        @include md{
            height: calc(100vh - 100px);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding-top: 15px;
        }
        .wrapper{
            padding: 0px 20px;
        }
    }
}