@import "../../responsive.scss";


nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    a{
        transition: all 0.3s ease;

        @include sm{
            display: none;
        }

        &:hover{
            color: #7209cb;
            // font-weight: 500;
            // scale: 1.05;
        }
    }

    .left{
        flex: 3;
        display: flex;
        align-items: center;
        gap: 50px;

        .links{
            flex: 3;
            display: flex;
            align-items: center;
            gap: 50px;
            a{
                &:hover{
                    font-weight: 500;
                }
            }
        }

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            align-items: center;
            // justify-content: center;
            gap: 17px;
            // background-color: gray;

            img{
                scale: 1.1;
            }

            span{
                @include md{
                    display: none;
                }

                @include sm{
                    display: initial;
                }
            }
        }

        .address{
            height: 60px;
            width: 60px;
        }
    }
    .right{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        background-color: #7009cb14;
        height: 100%;

        @include md {
            background-color: transparent;
        }

        a{
            margin: 20px;
            padding: 12px 24px;
            
            @include md {
                margin: 12px;
            }
            

        }

        .user{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .userName{
                font-weight: bold;
                @include md{
                    display: none;
                }
            }

            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 20px;
                display: flex;
                
                @include lg{
                    margin: auto;
                }

                @include md{
                    margin-right: 20px;
                }
            }

            span{
                @include sm{
                    display: none;
                }
            }

            .profile{
                position: relative;
                padding: 12px 24px;
                background-color: #7209cb;
                color: white;
                border-radius: 15px;
                cursor: pointer;
                border: none;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                display: flex;

                @include md{
                    margin: auto;
                }

                @include sm{
                    display: none;
                }
                

                .notification{
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: red;
                    border-radius: 50%;
                    width: 22px;
                    height: 22px;
                    color: white;
                    font-size: 13px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .register{
            color: white;
            background-color: #7209cb;
            border-radius: 15px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
           
        }

        .menuIcon{
            display: none;
            z-index: 999;

            img{
                width: 36px;
                height: 36px;
                cursor: pointer;
            }

            @include sm{
                display: initial;
            }
        }

        .menu{
            position: absolute;
            top: 0;
            right: -55%;;
            background-color: rgb(114,9,203);
            color: white;
            height: 100vh;
            width: 50%;
            transition: all 1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            z-index: 998;

            &.active{
                right: 0;
                
            }

            @include sm {
                a{
                    display: initial;
                }
                
            }
        }
    }
}