@import "../../responsive.scss";

.homePage {
    display: flex;
    height: calc(100vh - 100px);

    @include md{
        padding: 0px 10px;
    }

    .textContainer {
        flex: 3;
        height: calc(100vh - 100px);

        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            height: 100%;

            @include md{
                padding: 0;
            }

            @include sm{
                justify-content: flex-start;
            }

            p{
                font-size: 20px;
                width: 550px;
                @include sm{
                    font-size: 13px;
                    width: 350px;
                }
                margin-top: -7px;
                margin-bottom: -5px;
            }

            .title{
                font-size: 64px;

                @include lg{
                    font-size: 48px;
                }
                @include sm{
                    margin-top: 15px;
                    font-size: 36px;
                }
            }

            .boxes{
                display: flex;
                justify-content: space-between;

                @include sm{
                    display: none;
                }

                h1{
                    font-size: 36px;

                    @include lg{
                        font-size: 30px;
                    }
                }
                h2{
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
        @include sm{
            flex: none;
            width: 100%;
        }
    }

    .imgContainer{
        flex: 2;
        background-color: #7009cb14;
        position: relative;
        display: flex;
        align-items: center;
        z-index: -1;
        height: calc(100vh - 100px);

        @include md{
            display: none;
        }

        img{
            width: 115%;
            position: absolute;
            right: 0;

            @include lg{
                width: 105%;
            }
        }
    }
}